html, body {
    font-family: "Lucida Sans", "Lucida Grande";
    line-height: 1.5em;
}

#pgps-search {
    float: right;
}

#friends-with-app li {
    list-style-type: none;
    float: left;
    width: 29%;
    margin: 0 1% 25px;
    white-space: nowrap;
}
#friends-with-app img {
    display: block;
}

#Footer {
    clear: both;
    font-size: x-small;
}
